.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.formWrapper {
  width: 70vw;
}

.messageList {
  border-left: 1px solid grey;
}

.messageListWrapper {
  width: 30vw;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.submitButton {
  margin-top: 20px !important;
}